.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 15px 0px;
  background-color: #333333;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
  position: fixed;
}

.burger {
  margin-left: 20px;
}

.right_header {
  display: flex;
  margin-right: 40px;
  padding: 3px;

  .switch {
    display: table-column;
    margin-right: 30px;
    
    label {
      padding: 0;
      color: white;
    }
  }
}