.more_info_container {
  font-family: "VT323", monospace;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-evenly;
  gap: 3px 0px;

  > * {
    margin: 20px 40px;
    padding: 10px;
    border-radius: 1rem;
  }

  .info_container_headings {
    font-size: 40px;
    font-weight: 600;
  }

  .info_container_1 {
    background: #ffffff;
    border-radius: 1rem;
    padding: 7px;
  }
  .info_container_2 {
    border-radius: 1rem;
    padding: 10px;
  }

  .more_info_general {
    display: flex;

    > * {
      margin: 10px;
    }

    .sub_container {
      margin-top: 5px;
    }

    .presentation {
      min-width: 300px;

      .name_genera_id {
        display: flex;

        .name_genera {
          margin-right: 5px;
          width: 100%;

          .pokemon_name{
            padding-right: 0px !important;
            font-size: 20px;
            text-transform: capitalize;
            font-family: 'Press Start 2P', cursive;
            text-align: center;
          }

          .pokemon_genera {
            padding: 3px 10px;
            border-radius: 10px;
            text-align: center;
          }
        }

        .pokemon_id {
          color: var(--pokenumber);
          font-family: 'Teko', sans-serif;
          font-weight: 600;
          font-size: 25px;
        }
      }
      
      .pokemon_types {
        display: flex;
        justify-content: space-around;

        .pokemon_more_type {
          > * {
            display: flex;
          }
        }
      }
    }

    .presentation_2 {
      min-width: 300px;

      .little_title {
        margin-bottom: 10px;
      }

      .genderRate_text {
        font-family: "Teko", sans-serif;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
      }

      .ability_list {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 0 30px;
        gap: 0 30px;
        -webkit-padding-start: 1em;
        padding-inline-start: 1em;
        padding: 0;
        margin: 0;

        li {
          margin: 2px 0;
          padding: 7px;
          border-radius: 1rem;
          border: black solid 1px;
          text-align: center;
          font-size: 25px;
          font-weight: 600;
        }

        .hidden_ability {
          font-weight: 100;
          font-size: 20px;
        }
      }
    }

    .presentation_3 {
      min-width: 300px;

      .height_weight {
        display: flex;
      }

      .little_title {
        margin-bottom: 10px;
      }
    }

    table {
      thead th{
        text-align: center;
        font-size: 24px;
      }

      tbody {
        font-family: 'Teko', sans-serif;
        font-size: 15px;

        tr {
          line-height: 0;
        }
      }
    }
  }

  .more_info_entrie {
    table{
      tr td {
        border-bottom: 1px solid #001b36;
      }
      tr:last-of-type td {
        border-bottom: none;
      }
    }

    .entrie {
      .td_without_border{
        border-bottom: none;
      }

      .version_name {
        text-align: center;
        font-weight: 600;
        border-radius: 1rem;
        height: 90%;
      }

      .entrie_text {
        display: inline-block;
        width: 100%;
        padding: 10px;
      }
    }
  }

  .more_info_location {

  }

  .more_info_stats {

  }

  .more_info_effectiveness {

  }

  .more_info_learningSet {

  }

  .more_info_evolution {
    .evolutions_container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .evolution {
      display: flex;
      gap: 0 0px;
      margin: 0 20px;
      height: 187px;

      .evolution_sub_box {
        display: flex;
        align-items: center;
        text-align: center;

        .evolution_img {
          height: 113px;
          width: 113px;
          display: flex;
          border-radius: 50%;
          box-shadow: 0 5px 15px 4px rgb(0 0 0 / 30%);
          align-items: center;
          justify-content: center;
          transition: all 0.35s;
          margin-top: 3vh;

          .transparency_div {
            background: #ffffff40;
            height: 113px;
            width: 113px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .evo_img {
              width: 80px;
              height: 80px;
              margin: auto;
              display: flex;
              cursor: pointer;
            }
          }
        }

        .arrow {
          margin: 0 20px;
        }

        .evolution_poke_name {
          text-transform: capitalize;
          margin: 10px 0;
        }
      }
    }
  }

  .more_info_sprites {
    .tabs_list_sprites {
      flex-flow: inherit;

      > * {
        white-space: nowrap;
      }
    }

    .generation_container {
      display: flex;
      justify-content: space-around;

      .game_container {
        margin: 0 5px;
        width: 260px;

        .games_title {
          display: flex;
          text-align: center;
          padding-top: 5px;

          .title_1 {
            border-radius: 1rem 0 0 0;
          }
          .title_2 {
            border-radius: 0 1rem 0 0;
          }
          .title_1_2 {
            border-radius: 1rem 1rem 0 0;
          }

          > * {
            width: 100%;
          }
        }

        .game_sprites {
          background-color: #ffffff;
          border-radius: 0 0 1rem 1rem;
          
          > * {
            padding: 10px;

            > * {
              display: flex;
              justify-content: space-around;
            }
          }
        }
      }
    }

    .home_sprite {
      margin-top: 10px;
      text-align: center;

      .title {
        border-radius: 1rem 1rem 0 0;
      }

      .sprites {
        background-color: #ffffff;
        border-radius: 0 0 1rem 1rem;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .more_info_varieties {
    .all_varieties {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .varietie {
        margin-top: 20px;
        text-align: center;

        img {
          cursor: pointer;
        }
      }
    }
  }
}