.main_pokemon {
  display:flex;
  width: 100%;
  height: 90vh;
  font-family: "VT323",monospace;
  font-size: 21px;

  .info_container {
    padding: 20px;
    border-radius: 1rem;
    margin: auto;
    
    .info_pokemon {
      width: 100%;
      display: flex;
      flex-direction: row;  

      .info_left_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 1rem;
        background: #ffffff78;
        padding: 20px 20px;
        
        .pokemon_id {
          color: var(--pokenumber);
          font-family: 'Teko', sans-serif;
          font-weight: 400;
          font-size: 40px;
        }

        .pokemon_name {
          font-size: 22px;
          text-transform: capitalize;
          font-family: 'Press Start 2P', cursive
        }
        
        .pokemon_genera {
          padding: 3px 10px;
          border-radius: 10px;
          margin-top: 1.5vh;
          text-align: center;
        }

        .pokemon_dimensions {
          text-align: center;
        }
      }

      .info_right_container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 40px;
        
        .right_box {
          display: flex;
          flex-direction: column;
          height: -webkit-fill-available;
          justify-content: space-evenly;
          gap: 3px 0px;

          .info_container_headings {
            font-family: "VT323",monospace;
            font-size: 27px;
            font-weight: 600;
          }

          .desc {
            background-color: hsla(0,0%,100%,.25098039215686274);
            padding: 10px;
            border-radius: 1rem;
            margin-top: .5rem;
          }

          .ability_list_bg {
            background-color: hsla(0,0%,100%,.25098039215686274);
            padding: 5px;
            border-radius: 1rem;
            margin-top: .5rem;

            .ability_list {
              display: -webkit-flex;
              display: flex;
              grid-gap: 0 30px;
              gap: 0 30px;
              -webkit-padding-start: 1em;
              padding-inline-start: 1em;

              li {
                list-style-type: initial;
              }
            }
          }

          .stats {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-gap: 0px 15px;
            gap: 0px 15px;
            align-items: center;
            margin: 0px 0;
            justify-content: flex-start;
            background-color: #ffffff40;
            padding: 10px;
            border-radius: 1rem;
            margin-top: 0.5rem;

            .stat_columns {
              width: 135px;
              margin-right: 0px;

              .stat_columns_name {
                text-transform: uppercase;
                color: crimson;
              }
            }
          }
        }

        .evolution {
          display: flex;
	        gap: 0 0px;
          margin: 0 20px;
          height: 187px;

          .evolution_sub_box {
            display: flex;
            align-items: center;
            text-align: center;

            .evolution_img {
              height: 113px;
              width: 113px;
              display: flex;
              border-radius: 50%;
              box-shadow: 0 5px 15px 4px rgb(0 0 0 / 30%);
              align-items: center;
              justify-content: center;
              transition: all 0.35s;
              margin-top: 3vh;

              .transparency_div {
                background: #ffffff40;
                height: 113px;
                width: 113px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .evo_img {
                  width: 80px;
                  height: 80px;
                  margin: auto;
                  display: flex;
                  cursor: pointer;
                }
              }
            }

            .arrow {
	            margin: 0 20px;
            }

            .evolution_poke_name {
              text-transform: capitalize;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }
}