$pokenum: hsl(228, 28%, 20%);


.pokedexCard_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  margin: 2rem;
  border-radius: 1rem;
  min-width: 220px;
  height: 285px;
  text-align: center;
  
  box-shadow:
    0 1.6px 1.6px rgba(0, 0, 0, 0.023),
    0 3.8px 3.8px rgba(0, 0, 0, 0.034),
    0 6.9px 6.9px rgba(0, 0, 0, 0.041),
    0 11.4px 11.4px rgba(0, 0, 0, 0.049),
    0 18.8px 18.8px rgba(0, 0, 0, 0.056),
    0 32.8px 32.8px rgba(0, 0, 0, 0.067),
    0 71px 71px rgba(0, 0, 0, 0.09)
  ;
  transition: all 0.2s ease-in-out;

  
  &:hover {
    transform: scale(1.1);
  }

  .pokedexCard_header {
    border-radius: 1rem;
    padding: 0.2rem 0.4rem;
    font-weight: 400;
    font-size: 35px;
    color: var(--pokenumber);
    font-family: 'Teko', sans-serif;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .pokedexCard_footer {
    h3 {
      text-transform: capitalize;
    }
  }
  
  .pokedexCard_image {
    cursor: pointer;
  }
}
